:root {
    --kobicha: #5A3C1D; /*accent1-color*/
    --olive: #717933;
    --bronze: #D17E30;
    --persian-green: #167065;
    --lion: #AF916E;
    --tiffany-blue: #7BCCC5;
    --pear: #CBCE3E;
    --saffron: #F7CA39;
    --mint-green: #BFE2DB;
    --old-lace: #F4EFE1;
    --black: #000;
    --white: #fff;
    --heading-font: "Cambria", Georgia, "Times New Roman";
    --body-font: "Segoe UI", Tahoma, Arial;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--kobicha)
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    background-color: var(--tiffany-blue);
    border: 1px solid rgba(0 0 0 / 20%)
}

header img {
    background-color: var(--white);
    border: 1.5px solid var(--kobicha);
    border-radius: 1.25rem;
}

footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    place-items: center;
    background-color: var(--tiffany-blue);
}

footer p {
    grid-column: 2 / 3;
    color: var(--white);
    background-color: var(--black);
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 3rem;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--persian-green); /*old: used a different color variable than the one choosen in the example*/
    text-align: center;
}

iframe {
    border: 0;
}

form { /* to avoid modifying the Contact Us form I created box2 */
    width: 350px;
    margin: 0 auto;
    display: grid;
}

fieldset {
    padding: 1rem;
    border: 2px solid var(--pear);
    border-radius: 0.9rem;
}

legend {
    padding: 0 0.5rem;
    font-size: 1.15rem;
}

label, input, button, textarea {
    font-family: inherit;
    font-size: 100%;
}

button {
    border: 2px solid rgba(0 0 0 / 20%);
    border-radius: 0.4rem;
    padding: 0.2rem;
    background-color: var(--mint-green);
}

button:hover {
    background-color: var(--saffron);
}

/*Class Selectors*/

.navigation {
    display: flex;
    list-style: none;
    align-items: center;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a, .box2 a {
    display: block;
    color: var(--black);
    background-color: var(--saffron);
    padding: 20px;
    border: 1px solid rgba(0 0 0 / 20%);
    margin: 0 1rem;
    border-radius: 3rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    opacity: 0.8;
    background-color: var(--kobicha);
    color: var(--white)
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    bottom: 0;
    background-color: var(--old-lace);
    border: 1px solid rgba(0 0 0 / 20%);
}

.hero article img {
    float: right;
    width: 130px;
    margin: 0 0 0 2px;
    border: 2px solid var(--persian-green)
}

.hero article p { /*added by me to make the article fit and look better*/
    margin: 1px;
    padding: 0;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.figures {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 1rem;
}

.figures img, .figures figcaption {
    width: 150px;
    height: auto;
}

.socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia a img {
    width: 100%;
    display: block;
    height: auto;
}

.contact {
    margin-top: 0.5rem;
}
.contact p {
    margin: 0 auto;
    text-align: center;
    font-size: 1.2rem;
    padding: 0.1rem;
}

.map-and-form {
    margin: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-table th {
    font-weight: 400;
    text-align: left;
}

.news-call {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

/*
.news-call .box2 {
    flex: 1 1 auto;
} */

.form-item {
    display: grid;
    align-items: center;
    margin: 0.1rem 0;
    grid-template-columns: 1fr 2fr;
}

.box { /*it was "section" before*/
    /*border-left: 0.28rem solid var(--primary-color);
    padding-left: 0.5rem;*/
    background-color: var(--old-lace);
    border: 2px solid var(--kobicha);
}

.box2 {
    padding: 1rem;
    border-radius: 0.8rem;
    border: 1px solid rgb(0 0 0 /10%);
    background-color: var(--mint-green);
    margin: auto;
}

.box2 h2 {
    margin-bottom: 1rem;
    color: var(--black)
}

.button2 {
    background-color: var(--pear);
    margin-top: 1rem;
}

.purpose-offerings {
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    text-align: center;
    margin: 1rem;
    gap: 1rem;
}

.purpose-offerings img {
    max-width: 100%
}

.purpose-offerings h3 {
    font-size: 1.4rem;
}

.purpose-offerings p {
    font-size: 1.2rem;
}

.h1-call {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    text-align: center;
}

.h1-call h1 {
    font-size: 2.5rem;
}

.trips-table {
    border-collapse: collapse;
    border: 2px solid var(--persian-green);
    table-layout: auto;
    width: 100%;
}

.trips-table caption {
    caption-side: bottom;
    padding: 8px;
}

.trips-table thead {
    background-color: var(--mint-green);
}

.trips-table th, .trips-table td {
    border: 1px solid var(--persian-green);
    padding: 0.5rem 0.7rem;
    text-align: center;
    font-size: 1.1rem;
}

.trips-table thead th {
    font-size: 1.2rem;
}

.trips-table td:last-of-type {
    width: 160px;
    text-align: start;
}

.trips-table tbody>tr:nth-of-type(even) {
    background-color: var(--old-lace);
}

.indent {
    padding-left: 2rem;
}