:root {
    --primary-color: darkblue;
    --height-img: auto;
    --text-align: center;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 800px;
}

h1 {
    color: var(--primary-color);
}

main img {
    width: 150px;
    height: var(--height-img);
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 400px;
    margin: 2rem 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #222;
    text-align: var(--text-align);
}

aside img {
    width: 200px;
    height: var(--height-img);
}

footer {
    margin-top: 1rem;
    border-top: 1px dotted #000;
    text-align: var(--text-align);
}