:root {
    --first-color: darkblue;
    --second-color: #343434;
    --text-align: center; /* These two seem very unnecessary, but */
    --height: auto; /* I was told to replace repeated CSS property values, so ... */
}

nav {
    background-color: var(--first-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
}

h1 {
    color: var(--first-color);
}

main img {
    width: 150px;
    height: var(--height);
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 40rem;
    margin: 0 auto;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: var(--second-color);
    text-align: var(--text-align);
}

aside img {
    width: 200px;
    height: var(--height);
}

footer {
    margin-top: 100px;
    border-top: 1px dotted var(--second-color);
    text-align: var(--text-align);
}